{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": ["plugin:@typescript-eslint/recommended", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
	"root": true,
	"env": {
		"node": true,
		"jest": true
	},
	"ignorePatterns": [".eslintrc"],
	"rules": {
		"arrow-body-style": ["error", "always"],
		"prettier/prettier": "error",
		"no-undef": "off",
		"indent": ["error", 4],
		"indent-legacy": ["tab", 4],
		"@typescript-eslint/interface-name-prefix": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-explicit-any": "off"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"overrides": [
		{
			"files": ["*.ts", "*.tsx"],
			"rules": {
				"@typescript-eslint/no-unused-vars": [2, { "args": "none" }]
			}
		}
	]
}
